@charset "UFT-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: white;
}

th {
    height: 30px;
    background-color: #5d3166;
    color: white;
}


td{
    width:30ch;
    height:3ch;
    background-color:#dfc6e4;

    font-family: "Muli";
    line-height: 5ch;
    color:#000;
    text-indent: 1.5em;
    transition: all 0.2s ease-in-out;

}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
}